html, body, input{
  font-family: "微軟正黑體","Titillium Web", sans-serif;
  color: #FFFFFF;
}
input{
  font-family: "微軟正黑體","Titillium Web", sans-serif;
  color: gray;
}
body {
  padding-bottom: 10px;
}

/* messages */

.messages {
  font-size: 120%;
  color: #FFFFFF;
}

.inputMessage {
  font-size: 100%;
  color: gray;
}

.log {
  
  font-size: 90%;
  margin: 5px;
  text-align: center;
  color: #FFFFFF;
}

.messages {
  list-style: none;
  color: #FFFFFF;
  /*padding: 10px 20px 10px 20px;*/
}

.message.typing .messageBody {
  color: #FFFFFF;
}

.username {
  border-radius:3px;
  color: #FFFFFF;
  float: left;
  overflow: hidden;
  padding-right: 10px;
  text-align: right;
}
